body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgba(231, 217, 217, 0.562);
  margin: 0;
}

#id {
  background-color: azure;
}

.roundable {
  border: 1px solid black;
  border-radius: 8px;
}

.main-header {
  padding: 10px;
  background-color: rgb(17, 1, 1);
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.main-header button {
  padding: 10px;
  cursor: pointer;
  transition: all 0.6s;
}

.main-header button:hover {
  background-color: azure;
}

.main-aside {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-add {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  background-color: rgba(163, 55, 55, 0.541);
}

.main-add .field{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

.restaurant-aside {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 63%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.restaurant-aside section {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: rgba(163, 55, 55, 0.541);
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
  justify-content: space-around;
}

.restaurant-aside section p{
  font-size: 20px;
  color: rgb(10, 0, 0);
  width: 15%;
}

.restaurant-aside section h1{
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  color: rgb(20, 5, 5);
}

.restaurant-aside section button{
  width: 16%;
  font-size: 20px;
  color: rgb(20, 5, 5);
}

.restaurant-aside section form {
  width: 12%;
  font-size: 20px;
  color: rgb(20, 5, 5);
}

.restaurant-aside section input {
  width: 80%;
  font-size: 20px;
  color: rgb(20, 5, 5);
  margin-left: 10;
}

.restaurant-aside .submit {
  width: 85%;
  margin: auto;
}

.main-footer {
  padding: 10px;
  background-color: grey;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.main-login {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.error {
  color: red;
}

.login {
  padding: 20px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

.submit-button {
  width: 30%;
  background-color: azure;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: aquamarine;
}